<Modal @ref="modalRef">

    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add a RSS</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="validations" Mode="ValidationMode.Manual">

                @if (feedNavigation != null)
                {
                    <Field>
                        <FieldLabel>Title</FieldLabel>
                        <Validation Validator="ValidationRule.IsNotEmpty">
                            <TextEdit @bind-Text="feedNavigation.Title">
                                <Feedback>
                                    <ValidationError>Enter valid title!</ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </Field>
                    <Field>
                        <FieldLabel>RSS link</FieldLabel>
                        <Validation Validator="ValidateHyperlink">
                            <TextEdit @bind-Text="feedNavigation.Href">
                                <Feedback>
                                    <ValidationError>Enter valid RSS link!</ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@feedNavigation.Default">Default</Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@feedNavigation.Favorite">Favorite</Check>
                    </Field>
                    <Field>
                        <FieldLabel>Labels</FieldLabel>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is10">
                                <TextEdit @bind-Text="labelName" KeyPress="OnKeyPressInLabel" Pattern="[A-Za-z]{3}">
                                    <Feedback>
                                        <ValidationError>Enter valid label!</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is2">
                                <Button Clicked="OnAddNewLabel">
                                    <Icon Name="IconName.Add" />
                                </Button>
                            </Column>
                        </Row>

                        @if (feedNavigation.FeedLabels != null)
                        {
                            <div id="feed-labels">
                                @foreach (var label in feedNavigation.FeedLabels)
                                {
                                    <Badge Color="Color.Primary" CloseClicked="@(_ => OnBadgeClose(label))">@label.Name</Badge>
                                }
                            </div>
                        }

                    </Field>
                }
            </Validations>

        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@OnSaveFeed">Save</Button>
        </ModalFooter>
    </ModalContent>

</Modal>