@if (Model != null)
{
    foreach (var feedContent in Model)
    {
        <a href="@feedContent.Link" alt="@feedContent.Title link">
            <h5>@feedContent.Title</h5>
            <p class="published"><i>Published on @feedContent.PubDate</i></p>
            <p class="desc">@feedContent.Description</p>
        </a>
    }
}